<h1>Listing tag_tags</h1>

<table>
  <tr>
    <th>Tag</th>
    <th>Key</th>
    <th>Value</th>
    <th>Version</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @used_keys.each do |tag_tag| %>
  <tr>
    <td><%= tag_tag %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag tag', new_tag_tag_path %>
<%= link_to 'New Tag', new_tag_path %>
